# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.android
/.bash_history
/.cache
/.docker
/.dotnet
/.expo
/.git-credentials
/.gitconfig
/.gk
/.gtk-bookmarks
/.lesshst
/.nuget
/.VirtualBox
/3D Objects
/AppData
/Contacts
/Desktop
/Documents
/Downloads
/Favorites
/Links
/Music
/My project
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/pseint
/report.html
/Saved Games
/Searches
/source
/Tower Defense
/Videos
